name: Secret scan (gitleaks)

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  gitleaks-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run gitleaks scan
        uses: zricethezav/gitleaks-action@v2
        with:
          args: --redact
